* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
  background-color: #ced9d6;
}
.riga {
  margin: auto 10%;
}

.sezione {
  display: inline-block;
  width: 300px;
  height: 310px;
  position: relative;
  margin: 20px 5px;
 background-color: white;
}


img {
  height: 280px;
  width: 300px;
}

.sconto {
  height: 20px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.rosso {
  background-color: red;
}
.green {
  background-color: green;
}

.cuore {
  color: red;
  position: absolute;
  display: none;
  padding: 0 50%;
  width: 300px ;
}

section:hover .cuore {
  display:block;

}
